.foot-back{
    background-image: url("../../assets/background-digital.jpg");
    background-size: auto;
    background-position: 48rem;
}
.footer{
    /* background-color: #12192a; */
    min-height: 9vh;;
}
.text-footer{
    color: #20dad8;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    text-decoration: none;
}
.png-icon{
    width: 3rem;
    padding-right: 6px;
}
.small-text{
    font-size: 1rem;
}
.mt{
    /* margin-top: -1rem; */
    padding-top: 1rem;
}
@media (max-width: 800px) {
    .foot-back{
        background-position: 50rem;
    }
}