<div class="footer" role="main">
    <div class="container text-footer">
        <div class="row d-flex justify-content-between mt">
            <div class="col-12 col-md-4 ">
                <p class="small-text">{{labels[0]}}<br>
                    {{labels[1]}}</p>
            </div>
            <div class="col-12 col-md-4">
                <a target="_blank" class="text-footer" href="https://www.facebook.com/IJ-Innovaciones-102097872415642/">
                    <p class="small-text"> <img class="png-icon" src="../../assets/facebook.png" />{{labels[2]}}</p>
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a target="_blank" class="text-footer" href="https://www.instagram.com/ij.innovaciones/">
                    <p class="small-text"> <img class="png-icon" src="../../assets/instagram.png" />{{labels[2]}}</p>
                </a>
            </div>
        </div>

    </div>

</div>