<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">{{labels[0]}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="Servicios"aria-current="page" href="#">{{labels[1]}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Nosotros" href="#">{{labels[2]}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Ejemplos">{{labels[3]}}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{labels[4]}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" (click)="changeLanguage('es')">{{labels[5]}} 🇲🇽</a></li>
              <li><a class="dropdown-item" (click)="changeLanguage('en')">{{labels[6]}} 🇺🇸</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>