<div class="container" role="main">

<h2>Incrementa tus ventas</h2>
<p>En <span class="brand-name">Ij Innovaciones</span> te asesoramos con diferentes procesos para atraer la atención de tus clientes:</p>

<ul>
    <ol>
        <img class="vignete" src="../../assets/proximo.png"/>
        Asesoria y gestion de redes sociales.</ol>
    <ol>
        <img class="vignete" src="../../assets/proximo.png"/>
        Asesoría y apoyo en creación de contenido.</ol>
    <ol>
        <img class="vignete" src="../../assets/proximo.png"/>
        Estrategias de ventas y re compra o conservación del cliente.</ol>
</ul>
<h2>Página web para tu negocio.</h2>
<p>Dale más credibilidad y formalidad a tu negocio con una pagina web.</p>
<div class="d-flex justify-content-center">
    <img class="sabias-img" src="../../assets/sabias_que.png"/>
</div>
<p>Un sitio web correctamente estructurado brinda confianza y seguridad a tus clientes, más que solo vender por redes sociales. Apartados como preguntas frecuentes (FAQs), sección de contacto, redes sociales, ubicación de tu negocio, Incluir detalles de tu producto o servicio (materiales, medidas, tiempos de entrega).</p>
<p>Mantener un sitio web actualizado, genera la suficiente confianza puesto que muestras que eres un negocio en constante actualización, enfocado en la satisfacción del cliente. Incluir promociones del mes, descuentos por tiempo limitado, paquetes por temporada, o simplemente un aspecto temático, pueden hacer la diferencia, recuerda que de la vista nace el amor.</p>

<h2>Sistema personalizado.</h2>
<p>Tu negocio y sus reglas o logística no se adapta a los softwares del mercado, en <span class="brand-name">Ij Innovaciones</span> te podemos diseñar software a la medida de tus necesidades. </p>
</div>