<h2>Incrementa tus ventas</h2>
<p>En Ij Innovaciones te asesoramos con diferentes procesos para atraer la atención de tus clientes:</p>

<ul>
    <ol>Asesoria y gestion de redes sociales.</ol>
    <ol>Asesoría y apoyo en creación de contenido.</ol>
    <ol>Estrategias de ventas y re compra o conservación del cliente.</ol>
</ul>

<h2>Pagina web para tu negocio</h2>
<p>Dale mas credibilidad y formalidad a tu negocio con una pagina web. ¿Sabias que al incrementar la confianza de tu consumidor, incrementas hasta un 70% la posibilidad de compra? </p>
<p>Un sitio web correctamente estructurado brinda confianza y seguridad a tus clientes, más que solo vender por redes sociales. Apartados como preguntas frecuentes (FAQs), sección de contacto, redes sociales, ubicación de tu negocio, Incluir detalles de tu producto o servicio (materiales, medidas, tiempos de entrega).</p>
<p>Mantener un sitio web actualizado, genera la suficiente confianza puesto que muestras que eres un negocio en constante actualización, enfocado en la satisfacción del cliente. Incluir promociones del mes, descuentos por tiempo limitado, paquetes por temporada, o simplemente un aspecto temático, pueden hacer la diferencia, recuerda que de la vista nace el amor.</p>

<h2>Sistema personalizado.</h2>
<p>Tu negocio y sus reglas o logística no se adapta a los softwares del mercado, en IJ Innovaciones te podemos diseñar software a la medida de tus necesidades. </p>