<div class="container" role="main">
    <div class="p-3 mb-4 rounded-custom">
        <div class="container-fluid">
            <div class="row">
            <div class="col-12 col-md-8">
                <h2>{{labels[0]}}</h2>
                <p>{{labels[1]}}<span class="brand-name">{{labels[2]}}</span>{{labels[3]}}</p>
                <ul>
                    <ol>
                        <!-- <img class="fa-flip vignete" src="../../assets/proximo.png" /> -->
                        <i class="fa-solid fa-circle-arrow-right fa-flip" style="--fa-flip-x: 1; --fa-flip-y: 0;"></i>
                        {{labels[4]}}
                    </ol>
                    <ol>
                        <!-- <img class="fa-flip vignete" src="../../assets/proximo.png" /> -->
                        <i class="fa-solid fa-circle-arrow-right fa-flip" style="--fa-flip-x: 1; --fa-flip-y: 0;"></i>
                        {{labels[5]}}
                    </ol>
                    <ol>
                        <!-- <img class="fa-flip vignete" src="../../assets/proximo.png" /> -->
                        <i class="fa-solid fa-circle-arrow-right fa-flip" style="--fa-flip-x: 1; --fa-flip-y: 0;"></i>
                        {{labels[6]}}
                    </ol>
                </ul>
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center">
                <img id="logo" src="../../assets/logoIJ.gif" />
            </div>
        </div>
        </div>
    </div>
   
    <h2>{{labels[7]}}</h2>
    <p>{{labels[8]}}</p>
    <div class="d-flex justify-content-center">
        <img class="sabias-img" src="../../assets/{{labels[14]}}.png" />
    </div>
    <p>{{labels[9]}}</p>
    <p>{{labels[10]}}</p>

    <h2>{{labels[11]}}</h2>
    <p>{{labels[12]}}<span class="brand-name">
        {{labels[2]}}</span>{{labels[13]}}</p>
        <div class="d-flex justify-content-center">
            <img class="custom-img" src="../../assets/customback2.jpeg" />
        </div>
</div>