p {
    text-align: justify;
}
.valores{
    border-radius: 30px;
    text-align: center;
    padding: 1rem;
    border-color: #1da8c5;
    border-width: 5px;
    border-style: outset;
}
.val-1{
    background-color: transparent;
    color: #123f54;
}
.val-2{
    background-color: #12192a;
    color:#20dad8;
}
.pad-aux{
    padding-top: 1rem;
}
.container{
    background-color: azure;
    color: #123f54;
    padding-top: 1em;
    padding-bottom: 1em;
}
.container-2{
    background-color: #123f54;
    color: #20dad8;
    /* padding-top: 1em; */
    min-height: 4rem;
}
.background{
    background-image: url('../../assets/finance-money-debt-credit-balance-concept.jpg');
    opacity: 0.5;
    width: 100%;
    padding: 11.5rem;
    background-repeat: no-repeat;
    /* position: absolute; */
    background-size: 100%;
    margin-bottom: 1rem;
}

.gx-5{
    height: 11rem;
    margin-top: 1rem;
}
.azure{
    color: azure;
}
.carousel{
    width: 55%;
}
.carousel-inner{
    padding-top: 1.5rem;
} 
#space{
    padding: 1rem;
}
.img1{
    border-radius: 10px;
}

@media (max-width: 800px) {
	.pad-aux{
        padding-top: 0rem;
    }
    h5{
        font-size: 1rem;
    }
    .hide-mobile{
        visibility: none;
    }
    .gx-5{
        --bs-gutter-x: 2rem;
        height: 9rem;
    }
   .container-3{
       margin-top: -1em;
   }
   .carousel{
    width: 100%;
    }
    .carousel-inner{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }   
    .background{
        padding: 6rem;
        margin-bottom: 0.3rem;
    }
    .container-2{
        min-height: 4.5rem;
    }
}
