
<div class="container">
    <h2>Nosotros</h2>
<p>Somos una empresa 100% mexicana, con talento mexicano, trabajando con metodologías ágiles y procesos de calidad. Enfocados en apoyar a emprendedores, pequeñas y medianas empresas, y contribuir en el desarrollo y crecimiento de sus negocios.</p>
<p>Trabajamos bajo esquemas de calidad y buenas practicas.</p>
<h4>Nuestros valores</h4>

    <div class=" overflow-hidden">
        <div class="row gx-5">
          <div class="col ">
           <div class="p-3 valores val-2">
            <h5>Honestidad</h5>
            <h5>Compromiso</h5>
            <h5>Calidad</h5>
           </div>
          </div>
          <div class="col">
            <div class="p-3 valores val-2">
                <h5>Satisfacción al cliente</h5>
                <h5>Innovación</h5>
            </div>
          </div>
       </div>
    </div>
</div>
<div class="container container-2">
<h4 class="azure">Preguntas frecuentes</h4>
</div>
<div class="container container-3">
<h4>¿Porque debería contratar sus servicios?</h4>
<p>Creamos más que sitios web. Brindamos asesorías. Para añadir valor a tu negocio y satisfacer la demanda de tus clientes. No sólo se trata de llegar a mas gente, te ayudamos a generar confianza y mayor impacto. Lo que se ve traducido en más clientes. Generando así mayores ventas.
    Agilizamos procesos, para mejorar los tiempos de respuesta, no es lo mismo buscar una orden de compra, en una montaña interminable de papeles, que en un sistema, con un par de clicks.</p>
<h4>¿Para que tipo de negocios funciona?</h4>
<p>Cualquier tipo de negocio, puede implementar innovaciones tecnológicas, pues cada uno puede tener necesidades especificas. Sin embargo es altamente recomendado para negocios como:</p>
<ul>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Alimentos y bebidas (Restaurantes, Bares, Cafeterias).</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Servicios varios (barbería, carpintería, serigrafía).</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Salud y Belleza (Gimnasios, spa, salon de belleza).</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Médicos, Dentistas, Veterinarios, etc.</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Venta de productos en linea.</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Profesionistas Independientes.</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Cualquier negocio que quiera incrementar sus ventas.</ol>
</ul>
<h4>¿Cómo se hace una pagina web?</h4>
<p>Una pagina web, principalmente se hace con código, y esto es lo que le da forma y funcionalidad a tu sitio web. Hoy en día existen editores sumamente visuales para que puedas crear tu sitio web, aun sin tener conocimientos. Pero aun así el código existe tras bambalinas. Una vez que el sito esta creado, hay que publicarlo en un dominio, es decir se le da una dirección a tu sitio web, www.misitioweb.com.</p>
<h4>¿Un sitio web me ayuda a vender más?</h4>
<p>Un sitio web por sí sólo, no genera ventas. Imaginemos un automóvil lujoso, con control de tracción, ABS y demás amenidades, el auto por si solo no se va a manejar, ni te llevara a esos hermosos destinos, con la familia. Un sitio web es el auto, y en Ij Inovaciones te ensañamos a pilotarlo y sacar al máximo cada una de sus amenidades.
    Las ventas la generan las estrategias de ventas y las personas que están detrás de ellas.</p>
</div>