.aux{
    padding-top: 3rem;
}
.container{
    background-color: azure;
    color: #123f54;
    min-height: 85vh;
    padding-top: 1em;
}
.loader{
    margin-top: 25vh;
}

/* Paleta de colores */
.color1 {color: #12192a;}
.color2 {color: #123f54;}
.color3 {color: #146d89;}
.color4 {color: #1da8c5;}
.color5 {color: #20dad8;}
