<div class="container">
<h2>{{labels[0]}}</h2>
<p>{{labels[1]}}</p>

<ul>
    <ol><img class="vignete" src="../../assets/proximo.png"/>{{labels[2]}}</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>{{labels[3]}}</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>{{labels[4]}}</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>{{labels[5]}}</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>{{labels[6]}}</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>{{labels[7]}}</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>{{labels[8]}}</ol>
</ul>
<img class="sitios" src="../../assets/Sitios_web_{{idiom}}.png"/>


<p>{{labels[9]}}</p>
<h5>{{labels[10]}}</h5>
<p>{{labels[11]}}</p>
<div class="call-mobile d-flex justify-content-center" href="tel:7122759999">
    <a class="call d-flex justify-content-center" href="tel:7122759999"><i class="fa-solid fa-phone-flip fa-beat-fade"></i></a>
</div> 
</div>