<h2>Servicios</h2>
<p>¿Qué servicios ofrecen?</p>

<ul>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Desarrollo y mantenimiento de paginas web.</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Redes sociales para negocios.</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Creación de contenido.</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Creación de marca y posicionamiento.</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Herramientas tecnológicas, para tu negocio, y sus procesos, como agendas, sistemas de inventarios, etc.</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Sistemas personalizados.</ol>
</ul>

<p>Arma tu sitio web desde $500 al mes. (Hasta 4 secciones)</p>
<p>Sabemos que no todos los negocios, tienen las mismas necesidades, cuéntanos tu idea o tu problemática y solicita tu cotización.</p>
