<div class="container">
<h2>Servicios</h2>
<p>¿Qué servicios ofrecen?</p>

<ul>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Desarrollo y mantenimiento de paginas web.</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Redes sociales para negocios.</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Creación de contenido.</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Creación de marca y posicionamiento.</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Asesoria de imagen y estrategias de negocio.</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Herramientas tecnológicas, para tu negocio, y sus procesos, como agendas, sistemas de inventarios, etc.</ol>
    <ol><img class="vignete" src="../../assets/proximo.png"/>Sistemas personalizados.</ol>
</ul>

<p>Arma tu sitio web desde $500 al mes. (Hasta 4 secciones)</p>

<p>Sabemos que no todos los negocios, tienen las mismas necesidades, cuéntanos tu idea o tu problemática y solicita tu cotización.</p>
<h5>Aun tienes dudas ? </h5>
<p>Puedes solicitar información vía Whatsapp o bien llamanos! Será un placer atenderte.
       <!-- <a class="call-desktop call" href="tel:+527122759999">
           <i class="fa-solid fa-phone-volume fa-beat-fade"></i>
        </a> -->
</p>
<div class="call-mobile d-flex justify-content-center" href="tel:+527122759999">
    <a class="call d-flex justify-content-center" href="tel:+527122759999"><i class="fa-solid fa-phone-flip fa-beat-fade"></i></a>
</div> 
</div>