<h2>{{labels[0]}}</h2>
<p>{{labels[1]}}</p>

<div class="row">
    <div class="col d-flex justify-content-center">
        <div class="time-countdown d-flex justify-content-evenly">
            
                <ol class="count-bg-one radius"><span id="days">{{day}}</span>{{labels[2]}}</ol>
                <ol class="count-bg-two radius"><span id="hours">{{hours}}</span>{{labels[3]}}</ol>
                <ol class="count-bg-three radius"><span id="minutes">{{minutes}}</span>{{labels[4]}}</ol>
                <ol class="count-bg-four radius"><span id="seconds">{{seconds}}</span>{{labels[5]}}</ol>
            
        </div>
    </div>
</div>
