<h2>Cuenta regresiva</h2>
<p>Sabemos que las grandes ofertas y promociones no son permanentes</p>

<div class="row">
    <div class="col d-flex justify-content-center">
        <div class="time-countdown d-flex justify-content-evenly">
            
                <ol class="count-bg-one radius"><span id="days">{{day}}</span>Dias</ol>
                <ol class="count-bg-two radius"><span id="hours">{{hours}}</span>Horas</ol>
                <ol class="count-bg-three radius"><span id="minutes">{{minutes}}</span>Minutos</ol>
                <ol class="count-bg-four radius"><span id="seconds">{{seconds}}</span>Segundos</ol>
            
        </div>
    </div>
</div>
