<div class="cmpt-body">
    <h2>{{labels[0]}}</h2>
    <p>{{labels[1]}}</p>
    
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="time-countdown d-flex justify-content-center">
                
                    <div class="count-bg numbers desktop"><span id="days">{{day}} </span>{{labels[2]}}</div>
                    <div class="count-bg numbers desktop"><span id="hours">{{hours}} </span>{{labels[3]}}</div>
                    <div class="count-bg numbers desktop"><span id="minutes">{{minutes}} </span>{{labels[4]}}</div>
                    <div class="count-bg numbers desktop"><span id="seconds">{{seconds}} </span>{{labels[5]}}</div>

                    <div class="count-bg numbers mobile">{{day}}<br/><span id="days" class="d-flex justify-content-center">D</span></div>
                    <div class="count-bg numbers mobile">{{hours}}<span id="hours" class="d-flex justify-content-center">H</span></div>
                    <div class="count-bg numbers mobile">{{minutes}}<span id="minutes" class="d-flex justify-content-center">m</span></div>
                    <div class="count-bg numbers mobile">{{seconds}}<span id="seconds" class="d-flex justify-content-center">s</span></div>
                
            </div>
        </div>
    </div>
</div>
