.container{
    background-color: azure;
    color: #123f54;
    min-height: 85vh;
    padding-top: 1em;
    padding-bottom: 1em;
}
.cont-2{
    /* background-color: #12192a; */
    background-color: #146d89;
    color: #20dad8;
    min-height: 85vh;
    padding-top: 1em;
    padding-bottom: 1em;
    /* border-radius: 1em; */
	border-color: #12192a;
	border-width: 5px;
	border-style: solid;
}
@media (max-width: 800px) {
    .cont-2{
        border-width: 4px;   
    }
}