/* You can add global styles to this file, and also import other style files  */
#main-background{
    /* background-color: #12192a; */
    background-color: #146d89;
}
h2, h4{
    color: #146d89;
}
.vignete{
    width: 0.9em;
    margin-right: 5px;
    padding-bottom: 2px;
    --fa-flip-x: 1; --fa-flip-y: 0;
}
.fa-flip{
    z-index: 0 !important;
}
.cmpt-body{
    padding-bottom: 3rem;
}